/*big tablet to 1200px (smaller than 1140px row)*/
@media only screen and (max-width:1200px) {
    .hero-text-box {
        width: 100%;
        padding: 0 2%;
    }
    .row {padding: 0 2%;}
    .btn-app img {height: 45px;}
}

/*small tablet to big tablet: 767px to 1023px*/
@media only screen and (max-width:1023px) {
    body {font-size: 18px;}
    section {padding: 60px 0px;}
    .long-copy {
        width: 80%;
        margin-left: 10%;
    }
    .btn-app img {height: 40px;}
    .steps-box {margin-top: 10px;}
    .steps-box:last-child {margin-top: 10px;}
    .works-step {margin-bottom: 40px;}
    .works-step:last-of-type { margin-bottom: 60px;}
    
    
    .app-screen {width:50%}
    
    .icon-small {
        width:17px;
        margin-right: 5px;
    }
    .city-feature {font-size: 90%;}
    
    .plan-box {
        width: 100%;
        margin-left: 0px;
    }
    .plan-price {
        font-size: 250%;
    }
    
    .contact-form {
        width:80%; 
    }
    .main-nav {
        margin-top: 30px;
    }

/*small phones to small tablets: 480px 0 to 767px*/
@media only screen and (max-width:767px) {
<<<<<<< HEAD
    body {font-size: 16px;}
    section {padding: 30px 0px}
    .row,
    .hero-text-box{padding: 0 4%;}
    .col{
        width: 100%;
    }
    .main-nav {display: none;}
    h1{font-size: 180%;}
    h2{font-size: 150%;}
    .long-copy {
        width: 100%;
        margin-left: 0%;
    }
    
    .works-step {margin-bottom: 20px;}
    .works-step:last-of-type { margin-bottom: 20px;}
    .work-step div {
        height: 40px;
        width: 40px;
        margin-right: 15px;
        padding: 4px;
        font-size: 120%;
    }
    .app-screen {
        width:40%;
    }
    .steps-box:first-child {
        text-align: center;
    }
    .text-container {
        display: none;
    }
    .plan-box {
        margin-bottom: 5px;
    }
||||||| merged common ancestors

=======
    body {font-size: 16px;}
    section {padding: 30px 0px}
    .row,
    .hero-text-box{padding: 0 4%;}
    .col{
        width: 100%;
    }
    .main-nav {display: none;}
    h1{font-size: 180%;}
    h2{font-size: 150%;}
    .long-copy {
        width: 100%;
        margin-left: 0%;
    }
    
    .works-step {margin-bottom: 20px;}
    .works-step:last-of-type { margin-bottom: 20px;}
    .work-step div {
        height: 40px;
        width: 40px;
        margin-right: 15px;
        padding: 4px;
        font-size: 120%;
    }
    .app-screen {
        width:40%;
    }
    .steps-box:first-child {
        text-align: center;
    }
    .text-container {
        display: none;
    }
>>>>>>> b70c767e4097f862ba3351258371c3d98fb99340
}

/*small phones from: 0px to 480px*/
@media only screen and (max-width:480px) {

}